h1 = "Welcome #{current_user.email}"

h2
  | Campaigns you GM:
  = link_to 'Start new Campaign', new_campaign_path, class: 'btn btn-success pull-right'

= render @gm_campaigns

h2 Campaigns you play:

= render @pc_campaigns
