// Adds equal height behavior to colums in a bootstrap row
// This will require .col-xs-12 to be set explicitly
.row.is-flex {
  display: flex;
  flex-wrap: wrap;

  &::before {
    display: flex;
  }

  > [class*='col-']:not(.no-flex) {
    display: flex;
    flex-direction: column;

    > * {
      flex: 1;
    }
  }
}

.no-flex-grow {
  flex-grow: 0 !important;
}
