h1
  = image_tag @nonplayer_character.avatar_url(:small), class: 'avatar'
  = @nonplayer_character.name

= render 'shared/back_to', url: campaign_path(@nonplayer_character.campaign), name: @nonplayer_character.campaign.name
= render 'shared/back_to', url: nonplayer_characters_path(campaign_id: @nonplayer_character.campaign.id), name: 'NPCs'

p = sanitize @nonplayer_character.public_description

= edit_link_for(@nonplayer_character)
