body {
  color: $ink;
  background-color: $canvas;
}

a {
  color: $embers;

  .card {
    color: $ink;
  }

  &:hover {
    text-decoration: none;
  }
}

.label {
  color: $ink;
}

.avatar {
  border-radius: 50%;
  box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.1);
}
