body {
  color: $ink;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $posy;
  .menu {
    background-color: $black;
    width: 100%;
    a {
      color: #FFFFFF;
      &:hover {
        background-color: transparent;
        color: $embers;
      }
    }
    .navbar-text {
      color: $posy;
    }
  }
  a {
    color: $embers;
  }
  .container {
    background-color: #FFFFFF;
    padding-bottom: 50px;
    border: 1px solid $black;
    border-width: 0 1px 0 1px;
    flex-grow: 1;
    .alert {
      margin-top: 15px;
    }
  }
}

.label {
  color: $ink;
}
