h1 = "Locations in #{@campaign.name}"
= render 'shared/back_to', url: campaign_path(@campaign), name: @campaign.name
= link_to 'Add Location', new_campaign_location_path(@campaign), class: 'btn btn-success pull-right'

= render @locations
